version: "3.4"
services:
  goerli-geth.dnp.dappnode.eth:
    image: "goerli-geth.dnp.dappnode.eth:0.4.12"
    build:
      context: ./build
      args:
        UPSTREAM_VERSION: v1.10.9
    volumes:
      - "goerli:/goerli"
    ports:
      - "30303"
      - 30303/udp
      - 30304/udp
    restart: always
    environment:
      - "EXTRA_OPTIONS=--http.api eth,net,web3,txpool"
      - SYNCMODE
volumes:
  goerli: {}
